/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "/*";
@import "bootstrap";
@import "tether";

.alert-alert {
  @extend .alert-danger;

}

.alert-notice {
  @extend .alert-success;
}

.content {
  /*max-height: 250px;
  max-width: 800px;
  margin: auto;
  margin-top: 3%;*/
  margin: auto;
  margin-top: 3%;
  width: 40%;
  border: 1px solid #42acb8;

}

.jumbotron {
    /*background-color: #adbce6 !important;*/ 
}

.userlist {
  float: left;
  position: relative;
  margin-top: 3%;
  margin-left: 1%;
  max-width: 5% !important;
}

.weather {
  float: right;
  position: relative;
  margin-top: 3%;
  margin-right: 8%;
  max-width: 5% !important;
}

.btn-primary {
  width: 100% !important;

}

.well {
  word-break: break-all !important;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  max-width: 30% !important;
  margin: auto;
  margin-top: 1%;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
  text-align: center;
}