<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand">myChat! - Developed by:</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
  <%= link_to "Brett Simington", href="https://github.com/brettsimington", class:"nav-link" %>
    </li>
  </ul>
</nav>