<div class="userlist">
<!-- script to refresh user list? -->
<script>


</script>
<!-- script to refresh user list? -->
  <% if user_signed_in? %>
<div class="card" style="width: 12rem;">
  <div class="card-header">
    Users Online
  </div>
  <ul class="list-group list-group-flush">
    <!-- logic to show is user is online -->
   <% @users.each do |user| %>
   <% if user.is_online? %>
      <li class="list-group-item"><%= image_tag("on.png")%> <%= user.onlinename %></li>
      <% end %>
      <% end %>
    <!-- logic to show is user is online -->
  </ul>
</div>
      
<br />

<div class="card" style="width: 12rem;">
  <div class="card-header">
    Users Offline
  </div>
  <ul class="list-group list-group-flush">
    <!-- logic to show is user is offline -->
   <% @users.each do |user| %>
   <% if !user.is_online? %>
    <li class="list-group-item"><%= image_tag("off.png")%> <%= user.onlinename %></li>
    <% end %>
    <% end %>
    <!-- logic to show is user is offline -->
  </ul>
</div>
<% end %>
</div>