<div class="userlist">
  <% if user_signed_in? %>
<div class="card" style="width: 12rem;">
  <div class="card-header">
    Users Online
  </div>
  <ul class="list-group list-group-flush">
   <% @users.each do |user| %>
   <% if user.is_online? %>
      <li class="list-group-item"> <%= user.onlinename %> </li>
      <% end %>
      <% end %>
  </ul>
</div>
      
<br />

<div class="card" style="width: 12rem;">
  <div class="card-header">
    Users Offline
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
  </ul>
</div>
<% end %>
</div>